

.HomePageSchedule
{
    background-color: blue;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 500px;

}

.helpPanel
{
    background-color: blue;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 50px;


}

.quicklinksPanel
{
    background-color: blue;
    text-align: center;
    position: absolute;
    top: 100px;
    right: 50px; 
}

.PaymentPanel
{
    background-color: blue;
    text-align: center;
    position: absolute;
    top: 400px;
    right: 50px;
}

.downloadBtnOne{

    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.downloadBtnTwo{

    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.downloadBtnThree{

    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}